.footer-row, .search_init {
  padding: 1px 1px !important;
  width: 100% !important;
  font-weight: normal;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
	max-width: none !important;
}

.small-alert {
  padding: 6px;
  margin-bottom: 0px;
}

.small-alert select.input-sm {
  padding: 5px 0px;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*
Tree styles
*/

g.leaf-pie path {
  stroke: black;
  stroke-width: 0.1;
  cursor: pointer;
}

g.leaf-pie.selected path {
  stroke: red;
  stroke-width: 1;
}


/*
MST style
 */

g.node path {
  stroke: black;
  stroke-width: 0.1;
  cursor: pointer;
}

g.node text {
  cursor: pointer;
}


svg rect {
  cursor: move;
}


g.node.selected path {
  stroke: red;
  stroke-width: 1;
}

g.node.fixed path {
  stroke: green;
  stroke-width: 1;
}

g.node.selected.fixed path {
  stroke: yellow;
  stroke-width: 1.5;
}


/*
Map styles
*/

g.point-group {
  cursor: pointer;
}

g.point-group.selected {
  opacity: 1.0;
}

g.point-group path {
  stroke: black;
  stroke-width: 0.5;
}

g.point-group.selected path {
  stroke-width: 1;
}

td.td-number {
  text-align: right;
}

div.label-group {
  /* display: inline; */
  /* margin-top: 10px; */
  padding-top: 10px;
  /* background-color: red; */
}

span.genome-count-label {
  position: relative;
  /* display: inline-block; */
  display: block;
}

g.bar-item {
    cursor: pointer;
}

g.bar-item-selected {
  stroke: red;
  stroke-width: 0.5;
}

div.table-header {
  display: inline-flex;
}

div.table-header > i {
  float: right;
}
div.table-header > i.fa.fa-sort {
  opacity: 0.25;
}

div.table-header > i.fa.fa-sort-desc {
  color: green;
}

div.table-header > i.fa.fa-sort-asc {
  color: red;
}


.slick-columnpicker {
  border: 1px solid #718BB7;
  background: #f0f0f0;
  padding: 6px;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  box-shadow: 2px 2px 2px silver;
  min-width: 100px;
  cursor: default;
}

.slick-header > .slick-header-columns > .slick-header-column {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.grid *, .grid:before *, .grid:after * {
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
 }

.slick-cell {
  font-size: 12px !important;
}

.slick-grid-container {
  border: 1px solid #666;
}





/*
CSS for reagent-forms
 Following from
https://github.com/reagent-project/reagent-forms/blob/master/resources/reagent-forms.css
*/
.typeahead-list {
    list-style-type: none;
    padding: 5px;
    margin-top: 3px;
    border: solid 1px grey;
    border-radius: 3px;
    position: absolute;
    z-index: 9999;
    background-color: white;
    overflow-y: scroll;
    max-height: 300px;
    width: 445px}


.typeahead-item {
  padding: 3px;
}

li.highlighted
{
  padding: 3px;
  border: 1px solid grey;
  background-color: grey;
  color: white;
}

/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker-wrapper {
  position: relative;
}
.datepicker.dp-inline {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker.dp-dropdown {
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  min-width: 160px;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #ccc; // IE8 fallback
  border: 1px solid rgba(0,0,0,.15);
  background-clip: padding-box;

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td {
    cursor: pointer;
}
.datepicker td.month, td.year, {
    text-align: center;
    line-height: 54px;
    margin: 2px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.datepicker td span {
    display: block;
    line-height: 54px;
    float: left;
    margin: 2px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}

.datepicker td span {
  display: block;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker td:hover, td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}



.destroy {
	display: block;
	outline: none;
	border: none;
	position: relative;
	background: none;
	top: 0;
	right: 0px;
	bottom: 0;
	width: 20px;
	height: 20px;
	margin: 0;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.destroy:hover {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

@media screen and (min-width: 768px) {
    .sistr-page {
        padding-top: 60px;
    }
    .page-container {
        padding-left: 300px;
    }
    .sidebar {
        width: 300px;
        position: fixed;
        top: 50px;
        left: 0;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 50px;
    }
}
